[submodule "apps/Mailspring"]
	path = apps/Mailspring
	url = https://github.com/k0zhevnikov/Mailspring
[submodule "apps/tdesktop"]
	path = apps/tdesktop
	url = https://github.com/k0zhevnikov/tdesktop
[submodule "apps/marktext"]
	path = apps/marktext
	url = https://github.com/k0zhevnikov/marktext
[submodule "apps/YesPlayMusic"]
	path = apps/YesPlayMusic
	url = https://github.com/k0zhevnikov/YesPlayMusic
[submodule "apps/mpv"]
	path = apps/mpv
	url = https://github.com/k0zhevnikov/mpv
[submodule "apps/FreeTube"]
	path = apps/FreeTube
	url = https://github.com/SAAgent/FreeTube.git
[submodule "apps/vscode"]
	path = apps/vscode
	url = https://github.com/SAAgent/vscode.git
[submodule "apps/joplin"]
	path = apps/joplin
	url = https://github.com/SAAgent/joplin.git
